.item{
    padding: 5px;
    height: auto;
    text-align: center;
    background: #d9f5f6;
}
.item button{
    width: 150px;
    height: 30px;
    background: #9df1f1;
    border: none;
    border-radius: 5px;
}
.item button:hover{
    background: #85cece;
}
