.header {
    min-height: 70px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header a {
    font-size: 30px;
    color: snow;
    text-decoration: none;
}

.footer {
    background: black;
    min-height: 20px;
    color: snow;
    display: flex;
    justify-content: right;
    padding-right: 20px;
}

.outlet {
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    overflow-y: auto;
}

.header a[class='active']{
color: rebeccapurple;
}